/* Bild-sidan */
body {
 display: flex;
 flex-direction: column;
}

/* header */
header {
 background-color: #0073E6;
 color: #FFFFFF;
}

nav ul li a {
 color: #FFFFFF;
}

a:hover {
 color: black;
}

.current-page {
 color: black;
 border-bottom: 1px solid black;
}

/* main */
h2 {
 text-align: center;
 font-size: 2rem;
}

.fig-bild h3 {
 text-align: center;
}
.fig-bild img {
 display: inline-block;
 max-width: 95%;
 margin-bottom: .5rem;
}

.fig-bild {
 display: flex;                  /* *****FLEX***** */
 flex-direction: column;
 align-items: center;
 width: 80%;
 border: 1px solid black;
 background-color: #0073E6;
 color: #FFFFFF;

 padding: 1rem;
 border-radius: 1rem;
 margin: 1rem auto;
}

/* ************************************************************ */
@media (min-width: 768px) and (max-width: 1024px){
.sec-bild {
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 1rem;
 justify-items: center;
}

.fig-bild {
 position: relative;
 overflow: hidden;
}

.fig-bild img {
 width: 100%;
 height: 200px; 
 object-fit: cover; 
 transition: transform 0.3s ease; 
}

.fig-bild:hover img {
 transform: scale(1.2); 
}
}

/* ************************************************************ */
@media (min-width: 1025px){
.sec-bild {
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 1rem;
 justify-items: center;
}

.fig-bild {
 position: relative;
 overflow: hidden;
}

.fig-bild img {
 width: 100%;
 height: 300px; 
 object-fit: cover; 
 transition: transform 0.3s ease; 
}

.fig-bild:hover img {
 height: auto; 
 object-fit: contain; 
 transform: scale(1); 
}
}