html {
 font-size: 10px;
}

/* skiplink och lite tillgänglighet */
.skip-link {
 position: absolute;
 top: -40px;
 left: 0;
 z-index: 1000;
 color: yellow ;
}

.skip-link:focus {
 top: 0;
}

a:focus {
 outline: 3px solid yellow;
}

/* Mobil först */
body {
 margin: 0;
 padding: 0;
 display: grid;
 flex-direction: column;
 height: 100vh;
 background-color: #F0F0F0;
 grid-template-areas: 
 "header"
 "left-button"
 "main"
 "right-button"
 "footer";
}

/* header */
header {
 background-color: #4B0082;
 color: yellow;
 top: 0;
 padding: 1rem 1rem .25rem 1rem;
 grid-area: header;
}

.oreo-h1 {
 text-align: center;
 font-size: 4rem;
 margin: 0;
}

a:hover {
 color: rgb(250, 250, 240);
}

nav ul{
 display: flex;
 justify-content: center;
}

nav ul li {
 list-style: none;
 flex-direction: row;
}

nav ul li a {
 text-decoration: none;
 margin: 0 2rem;
 color: yellow;
}

.current-page {
 font-size: 105%;
 color: rgb(250, 250, 240);
 border-bottom: 1px solid rgb(250, 250, 240);
}

/* Main */
main {
 grid-area: main;
 
}

.main-start img {
 margin: 0 auto;
 
}

.left-button {
 grid-area: left-button;
}

.right-button {
 grid-area: right-button;
}

.left-button,
.right-button {
 height: 35%;
 width: 90%;
 border: 1px solid black;
 background-color: #4B0082;
 color: yellow;
 font-size: clamp(1rem, 2vw + 1rem, 2rem);
 border-radius: 2rem;
 margin: 2rem;
 align-self: center;
}

button a {
 display: block;
 color: yellow;
 text-decoration: none;
 text-align: center;
}

/* Footer */
footer {
 background-image: url(/images/Innehåll/liten-dansande-hamster.gif);
 background-repeat: repeat;
 background-size: contain;
 position: relative;
 bottom: 0;
 left: 0;
 right: 0;
}

footer img {
 height: 5rem;
 
}

/* ******************************************************************* */
/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px){
html {
 font-size: 12px;
}

body {
 display: grid;
 grid-template-areas: 
 "header header"
 "left-button main"
 "right-button main"
 "footer footer";
 grid-template-rows: auto 1fr 1fr auto;
 grid-template-columns: 1fr 1fr;
}
header{
 grid-area: header;
 }
 
 .main-start {
  grid-area: main;
 }

 .main-start img {
  height: 100%;
  object-fit: contain;
 }

.left-button,
.right-button {
 height: 40%;
 width: 90%;
 border: 1px solid black;
 background-color: #4B0082;
 color: yellow;
 align-self: center;    
 justify-self: center;  
}

.left-button {
 grid-area: left-button;
}

.right-button {
 grid-area: right-button;
}

footer {
 position: relative;
 bottom: 0;
 left: 0;
 right: 0;
 grid-area: footer;
}
}
/* ************************************************************************* */
/* Desktop styles */
@media (min-width: 1025px){
 html {
  font-size: 16px;
 } 

#hem {
 /* height: 100vh; */
 display: grid;
 grid-template-rows: auto 1fr auto; /* Header, main, footer */
 grid-template-columns: 1fr auto 1fr;
 grid-template-areas:
   "header header header"
   "left-button main right-button"
   "footer footer footer";
}

header{
 grid-area: header;
 }
 
/* Main */
.main-start {
 grid-area: main;
 align-items: center;
 justify-items: center;
 height: 100%;
}

.main-start img {
 max-width: 100%; /* Använd max bredd för att passa i layouten */
 height: 100%;
 margin: 0 auto;
 object-fit: contain;
}

.left-button,
.right-button {
 height: 60%;
 width: 65%;
 border: 1px solid black;
 background-color: #4B0082;
 color: yellow;
 font-size: clamp(1rem, 2vw + 1rem, 2rem);
 border-radius: 2rem;
 margin: 1rem;
 justify-self: center;
 align-self: center;
}

.left-button a,
.right-button a {
 margin-top: 3rem;
} 

.left-button {
 grid-area: left-button;
}

.right-button {
 grid-area: right-button;
}

button a{
 height: 100%;
 width: 100%;
}

footer {
 grid-area: footer;
}
}